@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Light.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Light.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Light.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-LightItalic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-LightItalic.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-LightItalic.woff")
      format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Regular.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Regular.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Regular.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Italic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Italic.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Italic.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Medium.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Medium.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Medium.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-MediumItalic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-MediumItalic.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-MediumItalic.woff")
      format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-SemiBold.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBold.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBold.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-SemiBoldItalic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBoldItalic.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBoldItalic.woff")
      format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Bold.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Bold.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Bold.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-BoldItalic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-BoldItalic.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-BoldItalic.woff")
      format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-BoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-Black.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-Black.woff2") format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-Black.woff") format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beltram";
  src: url("../../../fonts/domicile/beltram/Beltram-BlackItalic.eot");
  src: url("../../../fonts/domicile/beltram/Beltram-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../fonts/domicile/beltram/Beltram-BlackItalic.woff2")
      format("woff2"),
    url("../../../fonts/domicile/beltram/Beltram-BlackItalic.woff")
      format("woff"),
    url("../../../fonts/domicile/beltram/Beltram-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
