@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Thin.eot");
  src: url("fonts/GTPlanar-Retalic15Thin.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Thin.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Thin.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Light.eot");
  src: url("fonts/GTPlanar-Retalic15Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Light.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Light.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Regular.eot");
  src: url("fonts/GTPlanar-Retalic15Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Regular.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Regular.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Medium.eot");
  src: url("fonts/GTPlanar-Retalic15Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Medium.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Medium.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Bold.eot");
  src: url("fonts/GTPlanar-Retalic15Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Bold.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Bold.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Retalic 15";
  src: url("fonts/GTPlanar-Retalic15Black.eot");
  src: url("fonts/GTPlanar-Retalic15Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Retalic15Black.woff2") format("woff2"),
    url("fonts/GTPlanar-Retalic15Black.woff") format("woff"),
    url("fonts/GTPlanar-Retalic15Black.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
