@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Thin.eot");
  src: url("fonts/GTPlanar-Italic15Thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Thin.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Thin.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Light.eot");
  src: url("fonts/GTPlanar-Italic15Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Light.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Light.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Regular.eot");
  src: url("fonts/GTPlanar-Italic15Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Regular.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Regular.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Medium.eot");
  src: url("fonts/GTPlanar-Italic15Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Medium.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Medium.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Bold.eot");
  src: url("fonts/GTPlanar-Italic15Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Bold.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Bold.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Planar Italic 15";
  src: url("fonts/GTPlanar-Italic15Black.eot");
  src: url("fonts/GTPlanar-Italic15Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GTPlanar-Italic15Black.woff2") format("woff2"),
    url("fonts/GTPlanar-Italic15Black.woff") format("woff"),
    url("fonts/GTPlanar-Italic15Black.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
